.reveal section img {
    border: 0;
    box-shadow: none;
}
.fontsizeDescription{
    font-size: smaller;
}

.reveal h1 {
    font-family: Courier, monospace;
}

.reveal h2 {
    font-family: Courier, monospace;
}

.boldText {
    font-weight: bold;
    text-shadow: 2px 2px black;
}



