.reveal section img {
    border: 0;
    box-shadow: none;
}
.fontsizeDescription{
    font-size: smaller;
}


section.title {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1em;
    margin-bottom: -.4rem;
    margin-top: 1.2rem;
    color: #33291fe0
}

.title-text{
    font-family: "Courier New";
}
